/**
 * Created by sam on 28.10.2016.
 */

@mixin abspos() {
	position: absolute;
  width: 100%;
  height: 100%;
}

.datavisyn-scatterplot {
  position: relative;

  canvas {
    @include abspos();

    &.datavisyn-scatterplot-data-layer {
      pointer-events: none;
      z-index: 1;
    }
    &.datavisyn-scatterplot-selection-layer {
      z-index: 2;
    }
  }
  svg {
    pointer-events: none;
    @include abspos();

    &.datavisyn-scatterplot-axis-left {
      z-index: 2;
    }

    &.datavisyn-scatterplot-axis-bottom {
      bottom: 0;
      z-index: 3;
    }

    &.datavisyn-scatterplot-axis-right {
      position: absolute;
    }



  }

  div {
    &.datavisyn-scatterplot-axis-left-label, &.datavisyn-scatterplot-axis-bottom-label, &.datavisyn-scatterplot-axis-right-label {
      pointer-events: none;
      user-select: none;
      text-align: center;
      position: absolute;
    }

    &.datavisyn-scatterplot-axis-bottom-label {
      bottom: 0;
    }

    &.datavisyn-scatterplot-axis-left-label, &.datavisyn-scatterplot-axis-right-label {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 1em;
      white-space: nowrap;

      > div {
        transform: rotate(270deg);
        transform-origin: center center;
      }
    }
  }

  //similar to bootstrap tooltip
  .datavisyn-scatterplot-tooltip {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 4;

    padding: 5px 0;

    > :first-child {
      padding: 3px 8px;
      color: #fff;
      text-align: center;
      background-color: #000;
      border-radius: 4px;
    }

    > :last-child {
      margin-left: -5px;
      border-width: 5px 5px 0;
      border-style: solid;
      border-color: transparent;
      border-top-color: #000;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
    }
  }
}

.datavisyn-scatterplot-minimap {
  position: relative;
  background-color: gray;
  svg {
    width: 100%;
    height: 100%;
  }
}
